body {
    margin: 0;
    background-color: #f7d8f6;
    font-family: "Poppins", sans-serif;
}

.header {
    color: #ec008c;
    border-bottom: 1px solid #ccc;
    padding: 25px 15px;
    background-color: white;
}

.header a {
    color: #ec008c;
}

nav {
    display:flex;
}

.container {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: auto;
}

.navbar-brand {
    font-size: 34px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin: 0;
}

.navbar-nav li a {
    text-decoration: none;
    font-size: 20px;
} 

main {
    display: flex;
    align-items: baseline;
    column-gap: 50px;
    margin: 25px 40px;
    max-width: 1280px;
    
}

#form {
    max-width: 1280px;
    margin:auto auto auto 25px;
}


.form-control {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.text-input {
    padding: 10px 8px;
    border-radius: 5px;
    max-width: 300px;
}

.btn {
    width: 200px;
    padding: 8px 10px;
    color: white;
    background-color: #ec008c;
    border-color: #ec008c;
    font-size: 18px;
    font-weight: bold;
}

.title {
    max-width: 1280px;
    margin: auto auto 25px 25px;

}

.ml-0 {
    margin-left: 0 !important;
}

.main-form {
    width: 30%;
}

.schedules {
    margin-top: 80px;
    margin-left: 25px;
    width: 70%;
}

.schedules ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.schedules li {
    border: 1px solid black;
    margin-bottom: 10px;
    padding-left: 20px;
    max-width: 30%;
    flex: 1;
    min-width: 30%;
}